/*LEMBRAR SEMPRE DE ADICIONAR NESTA ORDEM AS COISAS, @CHARSET "UTF-8", FONTES, E VARIÁVEIS :ROOT, SELETOR GLOBAL * */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}
:root{
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #063D1E;
    --fonteDestaque: 'Bebas Neue', sans-serif;
    --fonteSecundaria: 'android';
    --fontPadrão: Arial, helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    font-family: var(--fontPadrão);
}

/*LEMBRAR DE SEGUIR NAS EDIÇÕES A MESMA ORDEM DO HTML, SE POSSÍVEL*/

body{
    background-color: var(--cor1);
}

header h1, header h2{
    font-family: var(--fonteDestaque);
    font-weight: normal;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    color: white;
    padding: 20px 0px;
    margin: auto;
}

header > div{
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
}

header h1{
    font-size: 3em;
}

header h2{
    font-size: 1em;
    letter-spacing: 1px;
}

nav{
    background-color: var(--cor4);
    height: 20px;
    padding: 3px 0px;
}

nav > a{
    color: white;
    font-family: var(--fontPadrão);
    text-decoration: none;
    font-size: smaller;
    padding: 5px 20px;
}

nav > a:hover{
    background-color: #2fa86538;
    transition-duration: 0.25s;
    border-radius: 10px;
}

main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}

main h1, main h2, main p{
    padding: 10px 0px;
}

main h1, main h2{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

main > article > h1{
    font-family: var(--fonteSecundaria);
    color: var(--cor4);
}

main > article > h2{
    font-family: var(--fonteSecundaria);
    font-weight: normal;
    font-size: 1.2em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main p{
    text-indent: 20px;
    line-height: 30px;
    text-align: justify;
}

main picture, main img{
    margin: auto;
    display: block;
}

picture.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

picture.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

p{
    font-size: 20px;
}

.extraCima{
    background-color: var(--cor3);
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    color: white;
}

.extraBaixo{
    background-color: var(--cor0);
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

main ul{
    list-style: none;
    columns: 2;
    color: var(--cor4);
}

main a.externo::after{
    content: "\1F517";
}

main a.externo{
    color: var(--cor4);
    text-decoration: none;
}

main a.externo:hover{
    color: var(--cor3);
}

main strong{
    color: var(--cor4);
}

footer{
    background-color: var(--cor4);
    color: white;
    padding: 20px 0px;
}

footer p{
    margin: auto;
    text-align: center;
    font-weight: normal;
}