@charset "UTF-8";

  body {
            background-color: bisque;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: blueviolet;
            background-color: aqua;
        }

        h2{
            color: brown;
        }