@charset "UTF-8";
  
/*em HTML id = em CSS é #*/
/*em HTML é class = em CSS é .*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 90, 2);
}

h1#principal {
    color: rgb(5, 90, 2);
    text-align: center;
}

h2 {
    color: rgb(76, 109, 75);
}

.basico{
    color: rgb(76, 109, 75);
}

.medio{
    color: rgb(155, 152, 106);
}

.avancado{
    color: rgb(156, 108, 108);
}